<div class="tought-form-container">
    <a href="/toughts/dashboard">Voltar</a>
    <h1>Criando Pensamento</h1>
    <form action="/toughts/add" method="POST">
        <div class="form-control">
            <label for="title"Pensamento:></label>
            <input type="text" name="title" placeholder="Dígite o seu pensamento....">        
        </div>
        <input type="submit" name="Criar Pensamento">    
    </form>

</div>