<h1>Editando Tarefa: {{task.title}}</h1>
<form action="/tasks/edit" method="POST">
    <input type="hidden" name="id" value="{{task.id}}">
    <div class="form-control">
        <label for="title">Título:</label>
        <input type="text" name="title" placeholder="Digite o titulo da tarefa" value="{{task.title}}" required>
    </div>
     <div class="form-control">
        <label for="description">Descrição:</label>
        <input type="text" name="description" placeholder="Descrição da tarefa" value="{{task.description}}" required>
    </div>
    <input type="submit" value="Editar">
</form>